<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block metadata %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/rock/tailwind.css') }}">
    {% endblock %}
    {% block javascripts %}{% endblock %}

</head>

<body data-controller="braunstetter--rock--toggle"
      data-braunstetter--rock--toggle-hidden-class="showing-nav"
      data-braunstetter--rock--toggle-target="item"
>
{% block container %}{% endblock %}
</body>

</html>
